name: NetflixFrontend stack build-deploy

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build and push docker images
        run: |
          # Login to DockerHub         
          echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

          # Build and push Docker image
          NETFLIX_FRONTEND_IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/netflixfrontend:0.0.${{ github.run_number }}
          docker build -t $NETFLIX_FRONTEND_IMAGE_NAME .
          docker push $NETFLIX_FRONTEND_IMAGE_NAME

      - name: Checkout infrastructure repo
        uses: actions/checkout@v3
        with:
          repository: Yaelwil/NetflixInfra
          path: NetflixInfra

      - name: Update YAML manifests
        run: |
          NETFLIX_FRONTEND_IMAGE_NAME=${{ secrets.DOCKERHUB_USERNAME }}/netflixfrontend:0.0.${{ github.run_number }}
          cd NetflixInfra/k8s/NetflixFrontend
          sed -i "s|image: .*|image: ${NETFLIX_FRONTEND_IMAGE_NAME}|" frontend.yaml

      - name: Configure Git
        run: |
          git config --global user.email "yaelwilamo@gmail.com"
          git config --global user.name "YaelWilamowski"

      - name: Commit and Push changes
        run: |
          cd NetflixInfra
          git add *
          git commit -m "Changes to the repo ${{ github.run_number }}"
          git push
